<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>code</title>
<script type="text/javascript" src="/xn-wechat-activity/static/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx40d5184e05d61899&redirect_uri=http%3A%2F%2Fwxoauth.xiaoniuapp.com%2Fxn-wechat-activity%2Fwechat%2FgetWeChatUser&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect";
});
</script>
</head>
<body>
</body>

</html>